.banner-content{
    position: absolute;
    top: 160px;
    right: 0;

    .banner-content-image{
        width: 100px;
        img{
            width: 100%
        };
    }

    h1{
        font-size: 2.8em;
        font-style: italic;
        font-family: 'Akaya Telivigala', cursive;
        font-weight: 600;
    }

    p{
        font-size: 1.3em;
        font-weight: 700;
        margin: 0;
        font-family: 'Akaya Telivigala', cursive;
        font-family: 'Shippori Mincho', serif;
    }

    button{
        margin: 10px 0;
        border-radius: 18px;
        padding: 10px 40px;
    }

}