<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container-fluid banner-content">
        <div class="row">
            <div class="col-xs-5 offset-md-7">
                <div class="container-fluid m-0 p-0 banner-content-image">
                    <img src="../../../../assets/images/banner/leaves-logo.png" alt="leaver">
                </div>
                <p>100% Healthy & Affordable</p>
                <h1 class="text-success">Organic Vegetables</h1>
                <p>Small Chages Big Difference</p>
                <button type="button" class="btn btn-light">Shop Now</button>
            </div>
          </div>
    </div>
    
</body>
</html>
